.container{
    margin: 0;
    padding: 0;
}

.title-container{
    text-align: center;
    background: rgb(52, 52, 52);
    margin: 20px 0;
    .back-button{
        position: absolute;
        left: 10px;
        top: 75px;
        border: 1px solid black;
        cursor: pointer;
        background: white;
        width: 65px;
        height: 30px;
        border-radius: 30px;
        font-family: BentonSans-Medium
    }
    hr{
        opacity: 10%;
    }
    .title{
        font-size: 16px;
        color: rgb(255, 255, 255);
    }
}

.card-container{
    padding: 20px !important;
    background: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5%;
    justify-content: center;
    .card{
        padding: 10px;
        height: 320px;
        background: rgb(255, 255, 255);
        box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.12);
        .image-container{
            height: 280px;
            width: 100%;
            img{
                //   position: relative;
                height: 100%;
                width: 100%; 
                margin: 0;
                object-fit: cover;
            }
        }
        .date-container{
            height: auto;
            background: rgb(255, 255, 255);
            // position: relative;
            padding: 15px 0 0 10px;
            display: flex;


            .date-title{
                font-family: BentonSans-Bold;
                margin-right: 5px;    
            }
        }


    }
}
.illustration-container{
    text-align: center;
    img{
        margin-top: 40px;
        width: 40%;
    }
}

.tag{
    text-align: center;
    p{
        font-family: Inter-Light;
        font-size: 16px;
    }
}

@media (max-width: 768px){
    .illustration-container{
        text-align: center;
        img{
            margin-top: 100px !important;
            width: 80% !important;
            margin-bottom: 25px;
        }
    }
}